.InformacionContainer{
    display: flex;
    justify-content: space-between;
    padding-left:200px; 
    gap: 200px;
    align-items: center;
    height: 400px;
    background-color: #ffffff;
    @include mobile{
        height: 200px;
        padding-left: 10px;
        background-color: #6b3636;
    }
   
    .titulo{
        font-size: 90px;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        @include mobile{
            font-size: 40px;
            text-align: start;
        }
    }
    .Span1{
        color: gold;
    }
    
    .InformacionPersonal{
    
        background-color: #2f2621;
        height: 100%;
        width: 46%;
        box-shadow: 5px 14px 12px 6px rgba(0,0,0,0.87);
    }
    .InformacionPerfil{
        position: absolute;
        left: 50%;
        height: 754px;
        @include desktop{
            height: 445px;
            left: 60%;
            bottom: 47%;
        }
        @include mobile {
            bottom: 13%;
        }
       
        img{
            transform: scaleX(-1);
            @include desktop{
                height: 500px;
            }
            @include mobile{
                height: 200px;
            }
        }
    }
}