.navbar{
  height: 100px;
  border-bottom: double 20px rgb(255, 255, 255);
  width: 30%;
  .container-fluid{
    background-color: #ffffff00;
    @include mobile{
      color: #000;
    }
  }
  .navbar-brand{
    font-family: 'Fasthand', cursive;
    padding: 20px;
    border-radius: 50px;
    margin-top: 5px;
    font-size: 40px;
  }
}
.nav-link{
  
  font-size: 24px;
  cursor: pointer;
  transition: 1s;
  color: #fff;
  border-bottom: solid 5px ;
  margin-inline: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  @include navresponsive{
    background-color: #000;
    text-align: center;
    border-radius: 10px;
  }
  
  @include mobile{
   
    color: #ffffff;
  }
  &:hover{
    color: #fff;
    font-size: 26px;
    transition: 1s;
  } 
}
.navbar-toggler{
  @include navresponsive{
    background-color: #fff;
  }
}