.titulo{
    text-align: center;
    font-size: 90px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    @include tablet2{
        font-size: 70px;
    }
    @include mobile{
        font-size: 24px;
    }
}
.ProyectosContent{
    display: flex;
    justify-content: center;
    
   .card-group{
    
    
    margin: 60px;
    gap: 100px;
    
    .card{
        height: 400px;
       border-radius: 25px;
        transition: 1s;
        overflow: hidden;
        cursor: pointer;
        
        &:hover{
            scale: 1.1;
            transition: 1s;
        }
    }
   }
    
}