@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../assets/954228.jpg);
    
   
    background-attachment: fixed;
    background-size: 520%;
    height: 100vh;
}
.BtnContainer{
    position: relative;
    bottom: 300px;
    right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop{
        right: 200px;
    }
    @include mobile{
     width: 400px;
     height: 200px; 
     right: 0;
     bottom: 0;  
    }
    @include desktop3{
        bottom: 0;
        right: 0;
    }
    .Btn{
        text-decoration: none;
        color: #000;
        background-color: rgb(248, 248, 248);
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 40px;
       margin-bottom: 200px;
       font-family: 'Roboto Condensed', sans-serif;
       @include mobile{
        font-size: 28px;
       }
    }
}