.SobremiContainer{
    display: flex;
    align-items: center;
    gap: 20px;  
    transition: 1s;
    @include desktop3{
        flex-wrap: wrap;
        justify-content: center;
    }
    @include mobile{
        justify-content: center;
    }
    @include mobile2{
        justify-content: center;
    }
   
    .InformacionContent{
        margin-left: 70%;
        transition: 1s;
        @include desktop{
            margin-left: 50%;
        }
        @include desktop3{
            margin-left: 0;
        }
        @include mobile{
            margin-left: 0;
        }
        @include mobile2{
            margin-left: 0;
        }
        .Informacion{
            margin-top: 90px;
            width: 460px;
           @include mobile{
            text-align: center;
            width: 450px;
           }
            #DiseñoTitle{
                color: #f7f7f7;
                font-size: 80px;
                font-family: 'Roboto Condensed', sans-serif;
                border-bottom: solid 10px #00d9ff; 
                @include desktop{
                    font-size: 60px;
                }
                @include mobile{
                    font-size: 50px;
                }
                @include mobile2{
                    text-align: center;
                    font-size: 50px;
                }
               
            }
            .infoP{
                font-size: 18px;
                color: #fcfdff;
                background-color: #0000005d;
                padding: 30px;
             
            }
        }
       
     }
     .InformacionContent2{
        margin-left: 220%;
        @include desktop{
            margin-left:190% ;
        }
        @include desktop3{
            margin-left: 0;
        }
        @include mobile{
            margin-left: 0;
        }
        @include mobile2{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0;
        }
      
        .Informacion{
            width: 500px;
            margin-bottom: 90px;
            @include mobile{
                text-align: center;
                width: 350px;
               }
               @include mobile2{
                text-align: center;
                width: 460px;
               }
            #IngenieriaTitle{
                color: #faf8f8;
                font-size: 80px;
                font-family: 'Roboto Condensed', sans-serif;
                border-bottom: solid 10px #00d9ff; 
                @include desktop{
                    font-size: 40px;
                }
                @include mobile{
                    font-size: 50px;
                    text-align: center;
                }
                @include mobile2{
                    font-size: 50px;
                    text-align: center;
                }
            }
            .infoP{
                font-size: 18px;
                color: #fcfdff;
                background-color: #0000005d;
                padding: 30px;
            }
        }
       
     }
}